<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="json" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
            <layout class="ch.qos.logback.contrib.json.classic.JsonLayout">
                <appendLineSeparator>true</appendLineSeparator>
                <timestampFormat>yyyy-MM-dd'T'HH:mm:ss.SSSX</timestampFormat>
                <timestampFormatTimezoneId>Etc/UTC</timestampFormatTimezoneId>

                <jsonFormatter class="ch.qos.logback.contrib.jackson.JacksonJsonFormatter">
                    <prettyPrint>false</prettyPrint>
                </jsonFormatter>
            </layout>
        </encoder>
    </appender>

    <appender name="async-json" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="json" />
        <discardingThreshold>10</discardingThreshold>
        <queueSize>512</queueSize>
        <neverBlock>false</neverBlock>
        <includeCallerData>false</includeCallerData>
    </appender>


    <springProfile name="local">
        <root level="INFO">
            <appender-ref ref="async-json"/>
        </root>
        <logger name="application" level="INFO"/>
        <logger name="data" level="INFO"/>
        <logger name="dto" level="INFO"/>
        <logger name="listeners" level="INFO"/>
        <logger name="services" level="INFO"/>
        <logger name="tasks" level="INFO"/>
        <logger name="controllers" level="INFO"/>
        <logger name="config" level="INFO"/>
    </springProfile>

    <springProfile name="default">
        <root level="INFO">
            <appender-ref ref="async-json"/>
        </root>
    </springProfile>

    <springProfile name="dev">
        <root level="INFO">
            <appender-ref ref="async-json"/>
        </root>v
    </springProfile>

</configuration>
